<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SERVICE_NAME" value="${SPRING_APPLICATION_NAME:-gateway}"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <includeMdc>true</includeMdc>
            <customFields>{"service":"${SERVICE_NAME}"}</customFields>
            <fieldNames>
                <timestamp>ts</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <message>msg</message>
                <thread>[ignore]</thread>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>
</configuration>
